.card-top {
    border:none;
    border-left: solid 5px var(--green-light);
    max-height: 110px;
  }
  
  .card-top .card-top-title {
    color: #1C3D14;
    font-size: 15px;
    font-weight: 700;
  }
  
  .card-top-content {
    font-size: 19px;
    font-weight: 700;
  }
  
.btn-hov {
    color: #fff;
    background: #1C3D14;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
.btn-hov:hover {
    color: #1C3D14;
    background: #fff;
    border: 1px solid #1C3D14;
}

.btn-green-light {
  color: #fff;
  background-color:#958419;
  border: 1px solid transparent;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-green-light:hover {
  color: #958419;
  background-color: #fff;
  border: 1px solid#958419;
}