<body>
    <div class="container">
        <table width="100%" cellspacing="0" style="font-family: 'Lato', sans-serif;">
            <tr>
                <td>
                    <img src="./img/png/fi_uaem_logo.png" alt="" width="110" height="48">
                </td>
                <td style="text-align:center;">
                    <div style="text-align:center;">
                        <h5 style="text-align:center; font-size: 15px;">Universidad Autónoma del Estado de México</h5>
                        <p style="text-align:center;font-size: 18px;">Facultad de Ingeniería</p>
                    </div>
                </td>
                <td>
                    <img src="./img/png/img_logo_uaem18-21.png" alt="" width="180" height="52">
                </thd>
            </tr>
        </table>
        <hr style="max-width: 90%; background: white;">
        <table width="100%" cellspacing="0" style="margin-top: 20px;font-family: 'Lato', sans-serif;">
            <tr>
                <td>
                    <img src="./img/png/fi.png" alt="FI UAEM" width="70" height="70" style="border-radius:4px; margin-left: 147px;">
                </td>
                <td>
                    <h1 style="font-size:22px; margin:0; margin-left: 10px;font-family: 'Lato', sans-serif;"> &nbsp; Sistema de Control de Acceso</h1>
                    <p style="font-size:22px; margin:0; margin-left: 10px;font-family: 'Lato', sans-serif;"> &nbsp; de la Facultad de Ingeniería</p>
                </td>
            </tr>
        </table>
        <div class="d-flex justify-content-center" id="qr-title">
            <div class="row no-gutters align-items-center">
                <div class="col">
                    <p style="font-size:23px; text-align: center; font-weight: 800; color:#1C3D14; margin-bottom: 5px;font-family: 'Lato', sans-serif;"><strong>Punto de control:</strong></p>
                    <p style="text-align: center; margin: 0; font-size: 27px;font-family: 'Lato', sans-serif;">